:root {
    --background-color: rgb(79, 194, 114);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: rgb(7, 7, 7);
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: brown;
}

main {
    max-width: 50rem;
    grid-column: 2/3;
    margin: 1rem;
    background-color: var(--background-color);
    color: #080808;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin-right: 20px;
    border: 1px solid rgb(79, 194, 114);
    padding: .5px;
    box-shadow: 0 0 30px rgb(79, 194, 114);
}

nav {
    background-color: var(--background-color);
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(7, 7, 7);
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(0, 139, 42);
    border-bottom: 1px solid black;
}


p {
    padding: 10px;
}

aside {
    width: 30rem;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 25px;
}

aside img {
    width: 100%;
    height: auto;
    margin-right: 1rem;
}

header, .grid, footer  {
    max-width: 840px;
    margin: 0 auto;
}

/* .grid {
    display: grid;
    grid-template-columns: auto 100px;
} */

footer {
    margin-top: 15px;
    border-top: 1px solid rgb(79, 194, 114);
    position: relative;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #44e94c;
    color: #080808;
    background-color: var(--background-color);
}